<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <div class="login-container">
    <h2>Login</h2>

    <form #loginForm="ngForm" (ngSubmit)="submitForm(loginForm)">

      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Enter username" [(ngModel)]="credentials.username" required minlength="3">
        <div *ngIf="loginForm.controls['username']?.invalid && loginForm.controls['username']?.touched" class="text-danger">
          Username must be at least 3 characters long.
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="credentials.password" placeholder="Enter password" required minlength="8">
        <div *ngIf="loginForm.controls['password']?.invalid && loginForm.controls['password']?.touched" class="text-danger">
          Password must be at least 8 characters.
        </div>
      </div>
    <button type="submit">Login</button>
    </form>

    <p>Don't have an account? <a routerLink="/signup">Sign up here</a></p>
  </div>
</body>
</html>

