.instructions-container {
    max-width: 600px;
    margin: auto;
    padding: 50px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
  }
  
  h2 {
    color: #333;
    text-align: center;
    margin-bottom: 15px;
  }
  
  p {
    color: #555;
    font-size: 1.1em;
    margin-bottom: 20px;
  }
  
  h3 {
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  ul,
  ol {
    color: #555;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #555;
  }