/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  width: 100%; /* Ensures the navbar spans the entire width */
  position: fixed; /* Fixes navbar at the top of the page */
  top: 0; /* Keeps it at the top */
  left: 0; /* Keeps it aligned with the left side */
  right: 0;
  z-index: 1000; /* Keeps the navbar on top of other elements */
}


.logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style-type: none;
  display: flex;
  padding: 5px 10px;
  border-radius: 6px;
  gap: 3rem;
  margin: 0;
  transition: box-shadow 0.3s ease;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.nav-links li a:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.1); 
}


/* Home content styles */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
              url("/assets/background1.avif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  display: flex;
  align-items: flex-start; /* Aligns the content at the top */
  justify-content: center;
  min-height: 100vh;
  padding-top: 10%; /* This pushes everything down vertically */
}
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.start-button {
  padding: 12px 24px;
  font-size: 1.2em;
  background-color: #540bb4;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none; /* Removes underline */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.start-button:hover {
  background-color: #540bb4;
  transform: scale(1.05);
}

.auth-links {
  margin-top: 10px;
}

.auth-links a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.auth-links a:hover {
  text-decoration: underline;
}

.container {
  color: #ffffff; /* Changes text color */
}