<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

  </head>

<div class="container">
  
  <h1>Welcome to AKM Sudoku</h1>

</div>
<body>
<!-- Home Content Section -->
<div class="home-container">
  <div class="center-button">
    <button (click)="navigateToGamePage()" class="start-button">Start Game</button>
  </div>
  <nav class="auth-links">
    <a routerLink="/signup">Signup</a> |
    <a routerLink="/login">Login</a>
  </nav>
</div>  
</body>
