<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<!-- Navbar Section -->
<nav class="navbar">
  <div class="logo">AKM Sudoku</div>
  <ul class="nav-links">
        <li><a routerLink="/profile">Profile</a></li>
        <li><a routerLink="/instructions">Instructions</a></li>
  </ul>
</nav>

<div class="container">
  <!-- Content here -->

  <h1>Welcome to AKM Sudoku</h1>

</div>
<body>
<!-- Home Content Section -->
<div class="home-container">
  <div class="center-button">
    <button routerLink="/sudoku" class="start-button">Start Game</button>
  </div>
  <nav class="auth-links">
    <a routerLink="/signup">Signup</a> |
    <a routerLink="/login">Login</a>
  </nav>
</div>
    
  
  
</body>
</html>